<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <directoryBrowse enabled="false"/>
    <handlers>
      <add name="PHP" path="*.php" verb="*" modules="CgiModule" scriptProcessor="C:\php\php-cgi.exe" resourceType="File" requireAccess="Script"/>
    </handlers>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="846972595@qq.com">
        <network host="localhost"/>
        <specifiedPickupDirectory pickupDirectoryLocation="D:\documents"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>
